<div>
  <mat-progress-bar *ngIf="UI_thinking" mode="indeterminate" color="accent">
  </mat-progress-bar>

  <div>
      <mat-form-field>
        <input #subject="ngModel" [(ngModel)]="task.subject" type="text" placeholder="Subject" matInput>
      </mat-form-field>

      <mat-form-field>
        <textarea #issue="ngModel" [(ngModel)]="task.issue" style="overflow:hidden;" type="text" placeholder="Issue" matInput cdkTextareaAutosize>
        </textarea>
      </mat-form-field>

      <mat-form-field>
        <textarea #notes="ngModel" [(ngModel)]="task.notes" [hidden]="task.notes && !UI_editingNotes" type="text" placeholder="Notes" style="overflow:hidden;" matInput cdkTextareaAutosize>
        </textarea>
        <div *ngIf="task.notes && !UI_editingNotes" (click)="toggleNotes()" style="white-space:pre-wrap;">
          <div [innerHtml]="task.notes | linkify">
          </div>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-datepicker-toggle matSuffix [for]="lifeline">
        </mat-datepicker-toggle>
        <input placeholder="Deadline" #deadline="ngModel" [(ngModel)]="task.deadline" [matDatepicker]="lifeline" [min]="task.createdAt" name="deadline" matInput>
        <mat-datepicker #lifeline>
        </mat-datepicker>
      </mat-form-field>

      <br>

      {{('null' | workflow)[0].icon}} <i>Created on {{task.history[0].time | date:'longDate'}}</i>
      <span *ngIf="task.state.time && task.state.phase"><br>
        {{(task.state.phase | workflow).icon}} <i>{{(task.state.phase | workflow).name}} as of {{task.state.time | date:'longDate'}} {{task.state.time | date:'shortTime'}}
      </i></span>
      <br>
      <i>Last modified on {{task.updatedAt | date:'longDate'}} {{task.updatedAt | date:'shortTime'}}</i>

      <br><br>

      <div
        style="
          display:flex;
          padding:0px 0px;
          gap:{{view.gap/4}}px;
        "
        [ngStyle.gt-sm]="{'height':(view.gap*1.5)+'px'}"
        [ngStyle.lt-md]="{'height':(view.gap*3)+'px'}"
      >
        <button
          (click)="delete()"
          mat-raised-button color="accent"
          style="flex: 1; padding:0;"
        >
          <span *ngIf="UI_deletionProtection">Delete</span>
          <span *ngIf="!UI_deletionProtection">Are you sure?</span>
        </button>

        <div style="flex:2.1;">
          <div
          style="display:flex; height:100%; gap:{{view.gap/4}}px;"
          [ngStyle.gt-sm]="{'flex-direction':'row'}"
          [ngStyle.lt-md]="{'flex-direction':'column'}"
          >
            <button
              *ngIf="task.state.phase > 0"
              (click)="update(-1)"
              mat-raised-button
              style="flex:1"
            >
              Return to {{(task.state.phase - 1 | workflow).name}}
            </button>
            <button
              *ngIf="task.state.phase + 1 | workflow"
              (click)="update(+1)" 
              mat-raised-button
              style="flex:1"
            >
              Advance to {{(task.state.phase + 1 | workflow).name}}
            </button>
          </div>
        </div>

        <button
          (click)="update()"
          mat-raised-button color="primary"
          style="flex: 1; padding:0;"
        >
          Save
        </button>
      </div>

  </div>
</div>
