<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div
  [ngStyle.gt-xs]="{'flex-direction':'row',     'maxHeight':'100svh', 'height':'100vh'}"
  [ngStyle.lt-sm]="{'flex-direction':'column'   }"
>
  <section
    style="display:flex; justify-content:center"
    [fxHide]="!(location.path().startsWith('/projects') && location.path().split('/').length == 2) && isSmall"
  >
    <div
      style="overflow:hidden; width:100%;"
      [ngStyle.gt-xs]="{'padding':'0px',                'background-color':'hsla(0, 0%, 6%, 1.00)'}"
      [ngStyle.lt-sm]="{'padding':view.gap*(1/4)+'px',  'background-color':'hsla(0, 0%, 6%, 0.50)', 'height':'calc(100vh - 80px)', 'maxHeight':'calc(100svh - 80px)', 'margin':view.gap+'px'}"
    >
      <div
        [ngStyle.gt-xs]="{'width':(view.gap*6)+'px',    'padding':view.gap+'px'}"
        [ngStyle.lt-sm]="{'width':'100%',               'padding':view.gap*(3/4)+'px',  'background-color':'hsla(0, 0%, 6%, 1.00)'}"
      >
        <div style="width:100%; overflow:hidden; flex-direction:column; align-items:center; gap:{{view.gap}}px;">


          <div style="width:{{view.gap*6}}px; align-items:center; justify-content:center; flex-direction:column; position:relative;">
            <img
              src="../../assets/chris.png"
              style="
                width:100%;
                object-fit:contain;
                max-height:{{view.gap*6}}px;
              "
            />
            <div
              style="position:absolute; width:calc(100% - {{view.gap/2}}px); height:calc(100% - {{view.gap/2}}px); outline:{{view.gap/4}}px solid hsla(0, 0%, 6%, .5); pointer-events:none;"
            >
            </div>
          </div>


          <div style="width:100%; align-items:center; justify-content:center; flex-direction:column; gap:{{view.gap/4}}px; text-align:center;">
            <h1 style="font-size:250%;">
              Chris Urban
            </h1>
            Let's build something great!
          </div>


          <div style="width:100%; align-items:center; justify-content:center; flex-direction:column; flex-grow:1;">
          </div>


          <div style="width:100%; align-items:center; justify-content:center; flex-direction:column;">
            <ul style="align-items:center; justify-content:center; flex-direction:column; font-size:125%; line-height:150%; gap:{{view.gap/2}}px;">
              <li>
                <a href="mailto:chrispurban@gmail.com">
                  <h1>
                    <source
                      class="fa fa-envelope"
                      style="font-size:75%; vertical-align:top; margin-right:2px;"
                    />
                    Email
                  </h1>
                </a>
              </li>
              <li>
                <a
                  href="https://drive.google.com/file/d/1MwDVuUkU7Z9uFsqpEFlmHigw1HaT18y9"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <h1>
                    <source
                      class="fa fa-file"
                      style="font-size:75%; vertical-align:top; margin-right:2px;"
                    />
                    Resume
                  </h1>
                </a>
              </li>
              <li>
                <a
                  href="https://www.linkedin.com/in/chrispurban/"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <h1>
                    <source
                      class="fa fa-linkedin-square"
                      style="font-size:80%; vertical-align:top; margin-right:2px;"
                    />
                    LinkedIn
                  </h1>
                </a>
              </li>
            </ul>
          </div>

          <div 
            style="align-items:center; justify-content:center; text-align:center; flex-direction:row; gap:{{view.gap/2}}px;"
            [fxHide.gt-xs]=true
          >
            <source class="fa fa-chevron-down"/>
              <div>Scroll to see projects</div>
            <source class="fa fa-chevron-down"/>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!----------------------------------------------------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------->

  <section style="justify-content:center; flex-grow:1;">
    <router-outlet (activate)="loaded($event)"></router-outlet>
  </section>

  <!-- a *ngIf="outlet && outlet.taskEntry" (click)="outlet.taskEntry()" mat-raised-button color="accent">Create Task</a -->

</div>
