<div
  class="splash"
  style="
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
    width:100%
  "
>
  
  <!----------------------------------------------------------------------------------------------------------------------------------->
  <!----------------------------------------------------------------------------------------------------------------------------------->

    <section
      style="
        display:flex;
        justify-content:center;
        padding:{{view.gap}}px;
      "
      [ngStyle.gt-xs]="{
        paddingTop:view.gap+'px'
      }"
      [ngStyle.lt-sm]="{
        paddingTop:'0px'
      }"
    >

      <div
        style="
          display:flex;
          flex-direction:column;
          width:100%;
          max-width:{{view.height}}px;
          gap:{{view.gap}}px;
        "
      >

          <div
            *ngFor="let project of projects"
            style="padding:{{view.gap/4}}px;"
            class="dark fade"
          >

              <div

                style="
                  display:flex;
                  padding:{{view.gap*(3/4)}}px;
                  gap:{{view.gap}}px;
                  align-items:center;
                "
                class="dark"
                [ngStyle.gt-sm]="{
                  'flex-direction':'row'
                }"
                [ngStyle.lt-md]="{
                  'flex-direction':'column'
                }"
              >
                <div
                  style="
                    display:flex;
                    flex-direction:column;
                    gap:{{view.gap}}px;
                    justify-content:center;
                  "
                  [ngStyle.gt-sm]="{
                    'width':(100/3)+'%'
                  }"
                  [ngStyle.lt-md]="{
                    'width':'100%'
                  }"
                >
                  <div
                    style="
                      display:flex;
                      flex-direction:column;
                      align-items:center;
                      width:100%;
                      gap:{{view.gap/2}}px;
                    "
                  >
                    <h1>
                      App: {{project.name}}
                    </h1>
                    <div
                      style="
                        background-color:hsla(0, 0%, 50%, 0.25);
                        display:flex;
                        width:100%;
                      "
                    >
                      <div style="
                        margin:{{view.gap/4}}px;
                        display:flex;
                        font-size:120%;
                        width:100%;
                        gap:{{view.gap/4}}px;
                        flex-wrap:wrap;
                      ">
                        <!-- https://github.com/angular/angular/issues/24567 ... routerLink unlikely to be fixed -->
                        <a
                          style="
                            display:flex;
                            align-items:center;
                            flex-direction:row;
                            flex-grow:1;
                            gap:{{view.gap/4}}px;
                            text-align:left;
                          "
                          href="{{project.repository}}" target="_blank" rel="noopener"
                        >
                          <source
                            class="fa fa-github"
                            style="font-size:225%;"
                          />
                          <div>
                            Source<br>Code
                          </div>
                        </a>
                        <a
                          *ngIf="project.internal == true"
                          style="
                            display:flex;
                            align-items:center;
                            flex-direction:row-reverse;
                            flex-grow:1;
                            gap:{{view.gap/4}}px;
                            text-align:right;
                          "
                          routerLink="{{project.address}}"
                        >
                          <source
                            class="fa fa-paper-plane"
                            style="font-size:175%;"
                          />
                          <div>
                            Live<br>Demo
                          </div>
                        </a>
                        <a
                          *ngIf="project.internal == false"
                          style="
                            display:flex;
                            align-items:center;
                            flex-direction:row-reverse;
                            flex-grow:1;
                            gap:{{view.gap/4}}px;
                            text-align:right;
                          "
                          href="{{project.address}}" target="_blank" rel="noopener"
                        >
                          <source
                            class="fa fa-paper-plane"
                            style="font-size:175%;"
                          />
                          <div>
                            Live<br>Demo
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div
                    style="
                      display:flex;
                      flex-direction:column;
                      align-items:center;
                      width:100%;
                      gap:{{view.gap/2}}px;
                    "
                  >
                      <h1>
                        Technologies
                      </h1>
                    <div
                      style="
                        display:flex;
                        flex-direction:row;
                        flex-wrap:wrap;
                        justify-content:center;
                        gap:{{view.gap/8}}px {{view.gap/4}}px;
                      "
                    >
                      <span
                        *ngFor="let tech of project.tech"
                        style="
                          display:flex;
                          gap:{{view.gap/4}}px;
                        "
                      >
                        <span>
                          ⬥
                        </span>
                        <span>
                          {{tech}}
                        </span>
                      </span>

                    </div>
                  </div>
                </div>

                <div
                  style="
                    height:100%;
                    display:flex;
                    align-items:center;
                    flex-direction:column;
                    gap:{{view.gap/2}}px;
                  "
                  [ngStyle.gt-sm]="{
                    'width':(200/3)+'%'
                  }"
                  [ngStyle.lt-md]="{
                    'width':'100%'
                  }"
                >
                  <h1
                    style="
                      display:flex;
                    "
                  >
                    Purpose & Features
                  </h1>
                  <div
                    *ngFor="let desc of project.desc"
                    style="
                      display:flex;
                      align-items:center;
                      font-style:{{desc.includes('*') ? 'italic' : 'normal'}};
                      font-weight:{{desc.includes('*') ? '550' : '400'}};
                    "
                  >
                    {{ desc.split('*').join('') }}
                  </div>
                </div>
              </div>

          </div>

      </div>

    </section>

<!----------------------------------------------------------------------------------------------------------------------------------->
<!----------------------------------------------------------------------------------------------------------------------------------->

</div>