
body {
  margin:0;
  padding:0;
  //overflow:hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color:hsla(0, 0%, 100%, 0.98);
}

@media (prefers-color-scheme: light){
  /* Light theme styles go here */
  body {
    background-color:#1b212d;
    background-image:url(./assets/topography.svg);
  }
}

@media (prefers-color-scheme: dark){
  /* Dark theme styles go here */
  body {
    background-color:#1b212d;
    background-image:url(./assets/topography.svg);
  }
}


///////////////////// toolbar
/*
.photo{
  position:relative;
  *{
    padding:0px;
  }
  img{
    max-height:64px; max-width:64px;
    position:absolute;top:0;left:0;bottom:0;right:0;
  }
>>>>>>> parent of a922ea9 (Sidebar consolidation)
}
*/

.tempImage{
  min-height:100px; max-height:100%;
  min-width:100px; max-width:100%;
}

@import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.photo{
    object-fit:contain; box-sizing:border-box;
    background-color:black; border:0px solid white;
    box-shadow: 0px 0px 8px 4px black;
    border-radius:8px;
}

.links{
	span{
		font-family:'Josefin Sans','Ubuntu',sans-serif;
	}
}

//div{outline:1px dashed silver;}
//span{outline:1px solid gold;}
//section{outline:2px dashed red;}
a{
  text-decoration:none;
  color:hsla(180, 100%, 45%, 0.80);
}

@media only screen and (hover: hover) and (pointer: fine) {
	a{
	  transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;
	}
	a:hover{color:hsla(0, 0%, 50%, 1.0);}
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
h1 {
  font-family:'Josefin Sans','Ubuntu',sans-serif;
  margin-bottom:0px;
  font-size:175%;
  line-height:100%;
}

.dark {
  background-color: hsla(0, 0%, 6%, 1.0);
  &.fade {
    background-color: hsla(0, 0%, 6%, 0.5);
  }
}