<div
  style="
    width:100%;
    height:100%;
  "
>

  <div style="overflowY:auto;">
    <section style="
      backgroundColor:#111111;
      position:sticky;
      zIndex:2;
      top:0px;
    ">

      <div style="
        height:{{view.gap}}px;
        font-style:italic;
        display:flex;
        justify-content:center;
        align-items:center;
      ">
        <span>
          <span *ngIf="!auth.loggedIn">
            Tasks are stored locally until logged in.
          </span>
          <span *ngIf="auth.userProfile$ | async as profile">
            Logged in as {{profile.name}}
          </span>
        </span>
        
      </div>

      <div
        style="
          display:flex;
          padding:0px {{(view.gap/4)}}px;
          gap:{{view.gap/4}}px;
        "
        [ngStyle.gt-xs]="{
          'height':(view.gap*1.25)+'px'
        }"
        [ngStyle.lt-sm]="{
          'height':(view.gap*1.75)+'px'
        }"
      >
        <button
          style="flex:1;"
          fxHide.gt-xs routerLink='/home'
          color="accent"
          mat-raised-button
        >
          Return Home
        </button>
        <button
          style="flex:1;"
          (click)="taskEntry()"
          mat-raised-button
        >
          Create Task
        </button>
        <button
          style="flex:1;"
          (click)="auth.loggedIn?auth.logout():auth.login('/projects/first/tasks')"
          color="primary"
          mat-raised-button
        >
          {{auth.loggedIn?'Log Out':'Log In'}}
        </button>
      </div>

      <div
        style="
          position:absolute;
          left:0px;
          right:0px;
          height:{{view.gap/4}}px;
          backgroundColor:#111111;
        "
        [ngStyle.gt-xs]="{'top':(view.gap*(9/4))+'px'}"
        [ngStyle.lt-sm]="{'top':(view.gap*(11/4))+'px'}"
      >
      </div>

    </section>


    <section
      style="
        height:auto;
        display:flex;
      "
      [ngStyle.gt-sm]="{'flexDirection':'row'}"
      [ngStyle.lt-md]="{'flexDirection':'column'}"
    >

      <div
        *ngFor="let group of 'null' | workflow"
        style="width:100%;"
      >
        <div
          style="
            background-color:#111111;
            padding:{{view.gap*(1/4)}}px;
            zIndex:1;
            position:sticky;
          "
          [ngStyle.gt-xs]="{'top':(view.gap*(9/4))+'px'}"
          [ngStyle.lt-sm]="{'top':(view.gap*(11/4))+'px'}"
        >
          <div
            style="
              display:flex;
              width:100%;
              align-items:center;
              font-size:200%;
              gap:{{view.gap/8}}px;
            "
            [ngStyle.lt-md]="{
              'flexDirection':'row',
              'justify-content':'space-between',
              'height':(view.gap*(4/4))+'px'
            }"
            [ngStyle.gt-sm]="{
              'flexDirection':'column',
              'justify-content':'center',
              'height':(view.gap*(8/4))+'px'
            }"
          >
            <span style="height:{{view.gap}}px; display:flex; align-items:center;">
              {{group.icon}}
            </span>
            <span style="font-size:50%;">
              {{group.name | uppercase}}
            </span>
            <span fxHide.gt-sm>
              {{group.icon}}
            </span>
          </div>
        </div>
          

        <div *ngFor="let task of tasks | match:group.id">

                <!--app-tasktile [tasque]="task"></app-tasktile-->

          <div class="large tile"><div (click)="taskDetail(task)"  [ngStyle.gt-sm]="{'padding-top':'138px'}" [ngStyle.lt-md]="{'padding-top':'106px'}">

            <div><div [ngStyle.gt-sm]="{'-webkit-line-clamp':'6'}" [ngStyle.lt-md]="{'-webkit-line-clamp':'4'}">
              <div style="padding-bottom:6px;">{{task.subject | uppercase}}</div>
              <span>{{task.issue}}</span>
            </div></div>

            <header *ngIf="task.deadline">
              <i *ngIf="(UI_now | date:'yyyyMMdd') < (task.deadline | date:'yyyyMMdd')">DUE IN {{task.deadline | timer | uppercase}}</i>
              <i *ngIf="(UI_now | date:'yyyyMMdd') >= (task.deadline | date:'yyyyMMdd')">OVERDUE!</i>
            </header>

          </div></div>

        </div>

      </div>

    </section>


  </div>



</div>

    <!--
    <div fxFlex *ngIf="!(tasks || errorMessage)" style="text-align:center">
        <br><mat-spinner style="margin:0 auto" color="accent"></mat-spinner>
        <br><h4>Loading . . . Please Wait</h4>
    </div>

    <div fxFlex *ngIf="errorMessage" style="text-align:center">
      <h2>Error</h2>
      <h4>{{errorMessage}}</h4>
    </div>
    -->
